<style>
    .life-in-weeks { {{ range .Site.Data.colors }}
        .{{ .class_name }},
        .{{ .class_name }}:active,
        .{{ .class_name }}.focus {
            {{- with .border_color }}
                {{- if . }}
                    border: 2px solid {{ . }};
                {{- end }}
            {{- end }}

            {{- with .bg_color }}
                {{- if . }}
                    background-color: {{ . }};
                {{- end }}
            {{- end }}

            {{- with .color }}
                {{- if . }}
                    color: {{ . }};
                {{- end }}
            {{- end }}
         }
         {{ end }}
    }
</style>
